.navbar {
  width: 100vw;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background-color: #fbfbfb;
  position: sticky;
  z-index: 100;
  top: 0;
  padding: 15px 20px;
  box-shadow: 2px 2px 4px rgba(192, 191, 191, 0.4);
}
.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo a {
  text-decoration: none;
}
.nav-logo-text {
  box-shadow: 2px 2px 4px rgba(192, 191, 191, 0.4);
  padding: 5px 10px;
  cursor: pointer;
}

.material-symbols-outlined {
  color: gold;
}

.nav-logo-text h3 {
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-family: "Zain";
}
.nav-toggle {
  display: none;
}
.nav-menu {
  display: flex;
  gap: 20px;
  margin: 0px auto 0;
}

.nav-menu a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.nav-menu li {
  list-style: none;
}
.nav-menu hr {
  border: none;
  width: 30px;
  height: 3px;
  border-radius: 10px;
  background: gold;
  margin: 7px auto;
}
.nav-search-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  width: 200px;
  gap: 50px;
}
.nav-search button {
  background: none;
  border: none;
}
.nav-search.show {
  display: none;
}
.nav-cart {
  position: relative;
}
.nav-login.show {
  display: none;
}

.nav-cart i {
  color: gold;
  transition: 0.4s ease-in-out;
}
.nav-cart i:hover {
  color: rgba(0, 0, 0, 0.66);
}
.nav-login i {
  color: black;
  transition: 0.4s ease-in-out;
}

.nav-login i:hover {
  color: rgba(255, 217, 0, 0.651);
}
.nav-cart-counter {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5px;
  width: 5px;
  padding: 9px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  background: gold;
  color: black;
  position: absolute;
  top: -10px;
  right: -18px;
}

/* Desktop (1024px and above) */
@media only screen and (min-width: 1024px) {
  .navbar {
    width: 100vw;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color: #fbfbfb;
    position: sticky;
    z-index: 100;
    top: 0;
    padding: 15px 20px;
    box-shadow: 2px 2px 4px rgba(192, 191, 191, 0.4);
  }
  .nav-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav-logo a {
    text-decoration: none;
  }
  .nav-logo-text {
    background: white;
    box-shadow: 2px 2px 4px rgba(192, 191, 191, 0.4);
    padding: 10px 10px;
    cursor: pointer;
  }

  .material-symbols-outlined {
    color: gold;
    font-size: 25px;
  }

  .nav-logo-text h3 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 700;
  }
  .nav-toggle {
    display: none;
  }
  .nav-menu {
    display: flex;
    gap: 20px;
    margin: 0px auto 0;
  }

  .nav-menu a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
  }

  .nav-menu li {
    list-style: none;
  }
  .nav-menu hr {
    border: none;
    width: 30px;
    height: 3px;
    border-radius: 10px;
    background: gold;
    margin: 7px auto;
  }
  .nav-search-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    width: 200px;
    gap: 50px;
  }
  .nav-search button {
    background: none;
    border: none;
  }
  .nav-search.show {
    display: none;
  }
  .nav-cart {
    position: relative;
  }
  .nav-login.show {
    display: none;
  }

  .nav-cart i {
    color: gold;
    transition: 0.4s ease-in-out;
  }
  .nav-cart i:hover {
    color: rgba(0, 0, 0, 0.66);
  }
  .nav-login i {
    color: black;
    transition: 0.4s ease-in-out;
  }

  .nav-login i:hover {
    color: rgba(255, 217, 0, 0.651);
  }
  .nav-cart-counter {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5px;
    width: 5px;
    padding: 9px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    font-style: italic;
    background: gold;
    color: black;
    position: absolute;
    top: -10px;
    right: -18px;
  }
}

/* Laptops (992px - 1023px) */
@media only screen and (min-width: 992px) and (max-width: 1023px) {
  .navbar {
    position: relative;
    gap: 50px;
  }

  .nav-menu {
    display: none;
  }
  .nav-menu a {
    font-size: 18px;
  }

  .nav-menu.show {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 28%;
    height: auto;
    background-color: #f9f9f9;
    padding: 20px 0 20px 30px;
    transition: transform 0.3s ease-in-out;
    border-radius: 0 0 10px 0;
    box-shadow: 5px 5px 4px rgba(192, 191, 191, 0.4);
  }
  .nav-menu.slide-in {
    animation: slideIn 0.3s forwards;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .nav-toggle {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
  .nav-toggle #toggler {
    color: black;
  }

  .nav-logo {
    position: relative;
    left: 40%;
  }

  .nav-logo-text h3 {
    font-size: 18px;
    padding: 0 6px;
  }
  .nav-search-cart {
    gap: 50px;
    padding: 0;
    width: 150px;
  }
  .nav-search.show {
    display: none;
  }
  .nav-login {
    display: none;
  }
  .nav-login.show {
    display: block;
  }
  .nav-login span {
    margin-left: 5px;
  }

  .nav-menu hr {
    border: none;
    width: 30px;
    height: 3px;
    border-radius: 10px;
    background: gold;
    margin: 10px 0 0;
  }

  .material-symbols-outlined {
    transform: scale(1.1);
    margin-left: 5px;
    animation: zoom 1s infinite;
  }

  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.12);
    }
    50% {
      transform: scale(1.13);
    }
    75% {
      transform: scale(1.14);
    }
    100% {
      transform: scale(1);
    }
  }
}

/* Tablet (768px - 991px) */
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .navbar {
    position: relative;
  }

  .nav-menu {
    display: none;
  }
  .nav-menu a {
    font-size: 18px;
  }

  .nav-menu.show {
    display: flex;
    flex-direction: column;
    column-gap: 50px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 70vw;
    height: 100vh;
    background-color: #f9f9f9;
    padding: 20px 0 20px 30px;
    transition: transform 0.3s ease-in-out;
    border-radius: 0 0 10px 0;
    box-shadow: 5px 5px 4px rgba(192, 191, 191, 0.4);
  }
  .nav-menu.slide-in {
    animation: slideIn 0.3s forwards;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .nav-toggle {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
  .nav-toggle #toggler {
    color: black;
    transform: scale(0.8);
  }

  .nav-logo {
    position: relative;
    left: 40%;
    background: none;
    box-shadow: none;
  }

  .nav-logo-text h3 {
    font-size: 16px;
    padding: 0;
  }
  .nav-search-cart {
    gap: 30px;
    padding: 0;
    width: auto;
  }
  .nav-search {
    display: none;
  }
  .nav-search.show {
    display: block;
  }

  .nav-login {
    display: block;
  }
  .nav-login.show {
    display: none;
  }
  .nav-login span {
    margin-left: 5px;
  }

  .nav-menu hr {
    border: none;
    width: 30px;
    height: 3px;
    border-radius: 10px;
    background: gold;
    margin: 10px 0 0;
  }

  .material-symbols-outlined {
    transform: scale(1.1);
    margin-left: 5px;
    animation: zoom 1s infinite;
  }

  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.12);
    }
    50% {
      transform: scale(1.13);
    }
    75% {
      transform: scale(1.14);
    }
    100% {
      transform: scale(1);
    }
  }
}
/* Mobile (480px - below) */
@media only screen and (max-width: 480px) {
  .nav-menu {
    display: none;
  }
  .nav-menu a {
    font-size: 18px;
  }
  .nav-menu.show {
    display: flex;
    flex-direction: column;
    column-gap: 50px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 70vw;
    height: 100vh;
    background-color: #f9f9f9;
    padding: 20px 0 20px 30px;
    transition: transform 0.3s ease-in-out;
    border-radius: 0 0 10px 0;
    box-shadow: 5px 5px 4px rgba(192, 191, 191, 0.4);
  }
  .nav-menu.slide-in {
    animation: slideIn 0.3s forwards;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .nav-toggle {
    display: block;
    cursor: pointer;
  }
  .nav-toggle #toggler {
    color: black;
    transform: scale(0.8);
  }

  .nav-logo-text {
    box-shadow: none;
    cursor: pointer;
  }

  .nav-logo-text h3 {
    padding: 0;
    font-size: 22px;
    font-weight: 600;
  }
  .nav-search-cart {
    width: auto;
  }
  .nav-search {
    display: none;
  }
  .nav-search.show {
    display: block;
  }

  .nav-login {
    display: none;
  }
  .nav-login.show {
    display: block;
  }
  .nav-login span {
    margin-left: 5px;
  }

  .nav-menu hr {
    border: none;
    width: 30px;
    height: 3px;
    border-radius: 10px;
    background: gold;
    margin: 10px 0 0;
  }

  .material-symbols-outlined {
    transform: scale(1.1);
    margin-left: 5px;
    animation: zoom 1s infinite;
  }

  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.12);
    }
    50% {
      transform: scale(1.13);
    }
    75% {
      transform: scale(1.14);
    }
    100% {
      transform: scale(1);
    }
  }
}
