.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: #fbfbfb;
  padding: 30px 0 0;
}

.footer-logo span {
  font-size: 27px;
  letter-spacing: 3.5px;
}
.footer-links {
  display: flex;
  list-style: none;
  gap: 50px;
}
.footer-links a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  transition: 0.4s ease-in-out;
}
.footer-links a:hover {
  text-decoration: none;
  color: rgb(161, 159, 159);
}
.footer-sm-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-sm-icons i {
  color: black;
}

.footer-sm-icons i:hover {
  color: #9a9a9a;
  transition: 0.4s ease-in-out;
}

.footer-copyright {
  color: black;
  font-size: 16px;
}
hr {
  width: 50%;
  background: rgb(231, 231, 231);
}
@media (max-width: 425.99px) {
  .footer {
    gap: 20px;
    padding: 20px;
    padding-top: 70px;
  }
  .footer-links {
    flex-direction: column;
    font-size: 14px;
    gap: 20px;
  }
  .footer-logo span {
    font-size: 20px;
    letter-spacing: 2px;
  }
}
