.related-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.related-products h2{
    color: #171717;
    font-size: 27px;
}
.related-products hr{
    background: gold;
    width: 100px;
    height: 1px;
    border: none;
    margin: 0;
}
.related-products-item{
    margin-top: 40px;
    display: flex;
    
    gap: 30px;
}