.popular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100vw;
  max-width: 100%;
  height: auto;
  
}
h2{
  font-size: 27px;
}

.popular hr {
  background: gold;
  width: 100px;
  height: 1px;
  border: none;
  margin: 0;
}
.popular-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 30px auto;
  gap: 50px;
}
@media (max-width: 768px) {
  .popular-item {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px auto;
    gap: 40px;
  }
}
@media (max-width: 425.99px) {
  .popular-item {
    grid-template-columns: 1fr 1fr;
    margin: 20px auto;
    gap: 10px;
  }

}
@media (max-width: 375.99px) {
  .popular-item {
    grid-template-columns: 1fr;
    margin: 10px auto;
   
  }

}
